html *
{
   font-size: 1em;
   font-family: Arial;
}

.whole-viewport {
  display: flex;
  width: 90vw;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

ul.toaster {
  position: absolute;
  height: auto;
  max-width: 30%;
}

ul.top {
  top: 2em;
}

ul.bottom {
  bottom: 2em;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
}

ul.left {
  left: 2em;
}

ul.right {
  right: 2em;
}

li.toast {
  display: block;
  width: 90%;
  height: 3em;
  line-height: 3em;
  margin: 5px;
  padding: 5px 1em 5px 1em;
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 0;
  transition: bottom 1s;
}

li.alert {
  color: #fff;
  background-color: red;
}

li.info {
  color: #fff;
  background-color: blue;
}

li.warning {
  color: #000;
  background-color: yellow;
}

.hidden {
  visibility: hidden;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px);
  }
}

.flip {
  backface-visibility: visible;
  animation-name: flip;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}
